<div class="filter">
	<div class="search row align-center">
		<input class="small-10 large-12" type="text" value="Search">
	</div>
</div>
<div class="row align-center">
	<div class="small-11 large-12 rating">	
		<h2>Rating</h2>
	</div>
</div>

<div class="row align-center">
	<div class="small-12">
		<div class="slider" id="circles-slider">
<!-- 		<input type="range" id="min">
		<input type="range" id="max"> -->
		</div>	
	</div>
</div>
<div class="row align-center">
	<div class="small-11 large-12 rating">	
		<h2>Year</h2>
	</div>
</div>
<div class="row align-center">
	<div class="small-12">
		<div class="slider year-slider" id="circles-slider">
		</div>	
	</div>
</div>

<div class="row align-center">
	<div class="small-11 large-12 rating">	
		<h2>Genre</h2>
	</div>
</div>
	<div id="filters" class="row small-10 large-8 align-center responsiveFilter">
		{{#each genreList.genres}}
		<div class="button" data-filter="{{this.id}}">{{this.name}}</div>
		{{/each}}
	</div>

	<div class="row align-center">
		<button type="submit" class="confirmButton">Confirm</button>
	</div>



<!-- <div>
<p>
  <label for="amount">Price range:</label>
<input type="text" id="min">
<input type="text" id="max"></p>
 
<div id="slider-range"></div>
</div>
 -->










